# EmailJS Credentials
REACT_APP_EMAILJS_SERVICE_ID=your_emailjs_service_id
REACT_APP_EMAILJS_TEMPLATE_CONTACT_ID=your_emailjs_contact_template_id
REACT_APP_EMAILJS_TEMPLATE_BOOKING_ID=your_emailjs_booking_template_id
REACT_APP_EMAILJS_PUBLIC_KEY=your_emailjs_public_key

# API URL
REACT_APP_API_URL=http://localhost:5000/api
